<div class="row">
	<div class="col-md-12">

		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>

			<ui-gmap-marker
			  idKey='location._id'
			  coords='location.coordinates'
			  ng-repeat='location in locations'
			  >

			  <ui-gmap-window
			    coords='location.coordinates'
		    >

			    <span>Location name: {{ location.name }}, <br> Timezone: {{ location.timezone }}</span>

			  </ui-gmap-window>

			</ui-gmap-marker>



		</ui-gmap-google-map>

	</div>
</div>